/* Created by: Mr. Coxall updated by Annasophia
* Created on: Feb 2025
* This file contains the CSS for index.html
*/

body {
  background-color: violet;
  color: rgb(30 43 159);
  padding: 40px;
  text-align: center;
}
h1 {
  background-color: rgb(210 189 217);
  color: hsl(239 74% 29%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: #fbd1f4;
}
