/* Created by: Mr. Coxall updated by Annasophia
* Created on: Feb 2025
* This file contains the CSS for index.html
*/

body {
  background-color: violet;
  color: hsl(powderblue);
  padding: 40px;
  text-align: center;
}

