/* Created by: Mr. Coxall updated by Annasophia
* Created on: Feb 2025
* This file contains the CSS for index.html
*/

body {
  background-color: violet;
  color: hsl(powderblue);
  padding: 40px;
  text-align: center;
}
h1 {
  background-color: rgb(210, 189, 217);
  color: hsl(239, 60%, 70%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: #fbd1f4;
}
